*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:darkturquoise;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.topSpace {
    margin-top: 50px;
}

#idCon{
    padding: 1.5px;
}

#btnCons{
    margin-top: -5px;
}

